*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}



/* BLOCCO PRINCIPALE MACRO STRUTTURA */

#macro-container{
    display:flex;
    height:calc(100vh - 100px);
    /* DEBUG */
    /* background-color: rgb(236, 24, 208); */
}



/* MACRO BLOCCO DI NAVIGAZIONE */
#macro-container nav{
    height: 100%;
    width:250px;
    background-color: #000000;
    
}



/* CONTENUTO PRINCIPALE MAIN */
#macro-container main{
    overflow: auto;
    height: 100%;
    width:calc(100% - 250px);
    background-color:#141922;
    
}

/* blocco upgrade */
#container-upgrade{
    display: flex;
    justify-content:end;
    align-items: center;
    width:84%;
    height:80px;
    background-color: #080b126b;
    position:fixed;
    top:0;
    right: 0;
    
   
}

button{
    background-color: #080b12;
    color:white;
    border-radius: 99999px;
    padding:10px 40px;
    margin:0 10p;
}


/* MACRO BLOCCO INFERIORE  */

#controller{
    height:100px;
    background-color:#282828;
}








/* RESPONSIVE */

/* layout tablet */
@media screen and (max-width:768px){
    
}





/* layout medium mobile */
@media screen and (max-width:468px){
    
}






/* layout small mobile */
@media screen and (max-width:320px){

  /* MACRO BLOCCO DI NAVIGAZIONE */
#macro-container nav{
    width:60px;

}
  
/* CONTENUTO PRINCIPALE MAIN */
#macro-container main{
   
    width:calc(100% - 60px);
   
    
}



}

