*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}



/* BLOCCO PRINCIPALE MACRO STRUTTURA */

#macro-container{
    display:flex;
    height:calc(100vh - 80px);
    /* DEBUG */
    /* background-color: rgb(236, 24, 208); */
}






/* MACRO BLOCCO DI NAVIGAZIONE LATERALE */
#macro-container #left-navigation{
    height: 100%;
    width:250px;
    background-color: #000000;
    
}

/* contenuto principale nav laterale */
#logo{
    width:130px;
    margin:20px 15px;
}

/* barra di ricerca */
.icona-left-nav{
    width: 25px;
    margin:5px 10px;
}


/* playlist */
h4{
    color:white;
    font-size: 15px;
    margin:20px;
}


#playlist{
    color:#a3a3a3;
    margin:0 10px;
    overflow: auto;
    height: calc(100% - 250px);
}

.fa-plus{
    color:black;
    background-color: #a3a3a3;
    font-size:20px;
    padding:10px;
    margin:0 5px;
}

.lista-play li{
 
    list-style: none;
    margin:20px;
}

/* parte bassa del nav */

.nav-down{
    margin:10px;
}

#download{
    width:25px;
}

#install{
    color:#7d7f84;
    font-size:12px;
   
}


hr{
    margin-top: 10px;
}

#profilo{
    width:25px;
    background-color: #7f7f7f;
    color:white;
    border-radius: 99999px;
    margin-top:10px;
}

#text-profilo{
    color:white;
    font-size: 15px;
   
}




/* CONTENUTO PRINCIPALE MAIN */
#macro-container main{
    overflow: auto;
    height: 100%;
    width:calc(100% - 250px);
    background-color:#141922;
    
}

/* blocco upgrade */
#container-upgrade{
    display: flex;
    justify-content:end;
    align-items: center;
    width:calc(100% - 250px);
    height:60px;
    background-color: #080b126b;
    position:fixed;
    top:0;
    right: 0;
    
    
}

button{
    background-color: #080b12;
    color:white;
    border-radius: 99999px;
    padding:10px 40px;
    margin:0 10p;
}


/* blocco navigazione main  */
.link-main{
    display: flex;
    justify-content:center;
    margin:6%;
    
}

.link-main li {
    list-style: none;
    margin:15px 10px;
}

a{
    font-size:10px;
    text-decoration: none;
    color: #72747a;
}


/* PRIMO BLOCCO : VISTI RECENTEMENTE */
h2{
    color:white;
    margin:15px;
}

.row{
    margin:15px 10px;
    display:flex;
    justify-content:space-around ;
    
}

.cover{
    width:calc(100% /6 );
    text-align: center;
    margin:10px;
}

.cover img{
    max-width:100%;
    margin-bottom:10px;
}

.title{
    color:white;
    margin-bottom:5px;
}

.subtitle{
    color:#7d7f84;
    font-size:12px;
    
}




/* SECONDO BLOCCO : CREATO PER  */

.suggestions{
    color:#7d7f84;
    font-size:13px;
    font-weight: 600;
    margin:0 15px;
}

.second-row{
    justify-content: start;
}



/* TERZO BLOCCO : ARTISTI POPOLARI */

.border-img{
    border-radius: 99999px;
}










/* MACRO BLOCCO INFERIORE  */

#controller{
    height:80px;
    background-color:#282828;
    display: flex;
    justify-content: space-between;
}

/* contenuto destro */

.controller-dx{
    display: flex;
    align-items: center;
    margin-left:15px;
    flex-basis:20%;
   
}

.img-small{
    width:65px;
}

h5{
    color: white;
    margin:0 10px;
}

.brain{
    margin:0 10px;
}

 /* icone contenuto destro */
 .controller-dx i{
    color:#878787;
    margin:10px;
   

}

/* contenuto centrale */
.controller-centrale{
    text-align: center;
    /* flex-basis:60%; */


}

.button-play i{
    color:white;
    margin:10px;
}

.loading {
    
    height:5px;
    background-color: #5a5a5a;
}

.listened{
    height: 5px;
    background-color: #7d7f84;
}

.loading.music{
    width:300px;
}

.listened.music{
    width:50px;
}

/* contenuto sinistro */


.controller-sx{
    flex-basis: 20%;
}















/* RESPONSIVE */

/* LAYOUT TABLET */
@media screen and (max-width:968px){
    
    #container-upgrade{
        display: block;
    }
    
    
    /* blocco navigazione main  */
    .link-main {
        flex-wrap: wrap; 
        margin:15%;
        
    }
    
    /* PRIMO BLOCCO : VISTI RECENTEMENTE */
    .row{
        justify-content:start;
        gap:10px;
        flex-wrap:wrap;
        
    }
    
    .cover{
        width:calc(100% /5 );
        
    }
    
}





/* LAYPUT MEDIUM MOBILE */
@media screen and (max-width:668px){
    
    /* blocco navigazione main  */ 
    .link-main li{
        flex-wrap:nowrap;
        flex-basis:25%;
        
    }
    
    /* PRIMO BLOCCO : VISTI RECENTEMENTE */
    
    .cover{
        width:calc(100% /3);
        
    }
}






/* LAYOUT SMALL MOBILE */

@media screen and (max-width:420px){
    
    /* MACRO BLOCCO DI NAVIGAZIONE */
    #macro-container #left-navigation{
        width:60px;
        
    }
    
    /* CONTENUTO PRINCIPALE MAIN */
    #macro-container main{
        
        width:calc(100% - 60px);
        
        
    }
    
    .link-main {
        flex-wrap: wrap; 
        /* flex-basis:calc(100% / 4); */
        margin:15%;
        
    }
    
    
    
    
    
}

